# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# venv
.env
venv/

# Django
*.log
*.pot
*.py[cod]
*.mo
*.db
media/
staticfiles/

# Docker
*.env
docker-compose.override.yml

# IDE
.idea/

# Docker volumes
db_data/