services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./media:/app/media
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:18
    volumes:
      - db_data:/var/lib/postgresql
    env_file:
      - .env

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  db_data:
