.back {
    position: absolute;
    top: 15px;
    right: 15px;

    padding: 6px 14px;
    font-size: 13px;

    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;

    transition: all 0.2s ease;
}

.back:hover {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

.checkout-container {
    position: relative;
}
