{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'core/product.css' %}">
</head>
<body>

<div class="container">

    <a href="{% url 'category_products' product.category %}" class="back-btn">
        ← Back to Catalog
    </a>

    <div class="product-detail">

        <div class="product-left">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>

        <div class="product-right">
            <h1 class="product-title">{{ product.name }}</h1>
            <div class="detail-price">Price: €{{ product.price }}</div>

            <div class="rating">
                <div class="stars">
                    {% for i in stars %}
                        {% if i <= product.average_rating %}
                            ★
                        {% else %}
                            ☆
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="avg-rating">
                    {{ product.average_rating }} / 5
                </div>
            </div>

            <button class="cart-btn">
                Add to Cart
            </button>
        </div>

    </div>

    <div class="product-description">
        <strong>Description:</strong>
        <p>{{ product.description }}</p>
    </div>

    <div class="add-review">
        <h2>Leave a Review</h2>
        <form method="post" action="{% url 'add_review' product.id %}">
            {% csrf_token %}
            <label for="rating">Rating:</label>
            <select name="rating" id="rating">
                {% for i in "12345" %}
                <option value="{{ i }}">{{ i }} ★</option>
                {% endfor %}
            </select>
            <br>
            <label for="text">Your comment:</label>
            <textarea name="text" id="text" rows="3" placeholder="Write your review..."></textarea>
            <br>
            <button type="submit">Submit Review</button>
        </form>
    </div>

    <div class="reviews">
    {% for review in product.reviews.all %}
        <div class="review">
            <div class="review-user">
                {% if review.user %}
                    {{ review.user.username }}
                {% else %}
                    Anonymous
                {% endif %}
            </div>
            <div class="review-rating">
                {% for i in stars %}
                    {% if i <= review.rating %}
                        ★
                    {% else %}
                        ☆
                    {% endif %}
                {% endfor %}
            </div>
                <div class="review-text">
                    {{ review.text }}
                </div>
            </div>
        {% endfor %}
    </div>

</div>

</body>
</html>